@import "tailwindcss";

/* globals.css or index.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}  